/// Vendors
@import 'vendors/bourbon/bourbon';
@import 'vendors/family/family';
@import 'vendors/hover/hover';
@import 'vendors/hamburgers/hamburgers';

/// Project Styles
@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';

@import 'partials/**/*';
@import 'layouts/**/*';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic');

// Breakpoints.
@include breakpoints((xlarge: (1281px, 1680px),
large: (981px, 1280px),
medium: (737px, 980px),
small: (481px, 736px),
xsmall: (null, 480px),
));

/* Basic */

@-ms-viewport {
  width: device-width;
}

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: _palette(bg);

  // Stops initial animations until page loads.
  &.is-preload {

    *,
    *:before,
    *:after {
      @include prefix('animation', 'none !important');
      @include prefix('transition', 'none !important');
    }
  }

}

body,
input,
select,
textarea {
  color: _palette(fg);
  font-family: _font(family);
  font-size: responsive $font-sm $font-size-base;
  font-range: 320px 812px;
  font-weight: _font(weight);
  letter-spacing: _size(letter-spacing);
  line-height: 1.65em;
  @include breakpoint('<=small') {
    letter-spacing: _size(letter-spacing) * 0.5;
  }
}

hr {
  border: 0;
  border-bottom: solid 2px _palette(border);
  margin: (_size(element-margin) * 1.5) 0;

  &.major {
    margin: (_size(element-margin) * 2.25) 0;
  }
}

blockquote {
  border-left: solid 4px _palette(border);
  font-style: italic;
  margin: 0 0 _size(element-margin) 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: _palette(border-bg);
  border-radius: 3px;
  font-family: _font(family-fixed);
  font-size: 0.9em;
  letter-spacing: 0;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: _font(family-fixed);
  font-size: 0.9em;
  margin: 0 0 _size(element-margin) 0;

  code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
  }
}

