/// Vendors
@import 'vendors/bourbon/bourbon';
@import 'vendors/include-media/_include-media';
@import 'vendors/family/family';
@import 'vendors/hover/hover';
@import 'vendors/hamburgers/hamburgers';

/// Project Styles
@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';

@import 'partials/**/*';
@import 'components/**/*';
@import 'layouts/**/*';

// Breakpoints.
$breakpoints: (phone-sm: 320px, phone: 414px, phone-lg: 480px, tablet: 768px, tablet-lg: 1024px, desktop-sm: 1199px, desktop: 1440px, desktop-lg: 1680px);

/* Basic */

@-ms-viewport {
  width: device-width;
}

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $grey;

  // Stops initial animations until page loads.
  &.is-preload {

    *,
    *:before,
    *:after {
      @include prefix('animation', 'none !important');
      @include prefix('transition', 'none !important');
    }
  }

}

body,
input,
select,
textarea {
  color: $white;
  font-family: $body-font;
  font-size: responsive $font-sm $font-size-base;
  font-range: 320px 812px;
  font-weight: $weight;
  letter-spacing: _size(letter-spacing);
  line-height: 1.65em;
  @include media('<=phone') {
    letter-spacing: _size(letter-spacing) * 0.5;
  }
}

hr {
  border: 0;
  border-bottom: solid 2px $white;
  margin: (_size(element-margin) * 1.5) 0;

  &.major {
    margin: (_size(element-margin) * 2.25) 0;
  }
}

blockquote {
  border-left: solid 4px $white;
  font-style: italic;
  margin: 0 0 _size(element-margin) 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: $grey-dark;
  border-radius: 3px;
  font-family: $accent-font;
  font-size: 0.9em;
  letter-spacing: 0;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: $accent-font;
  font-size: 0.9em;
  margin: 0 0 _size(element-margin) 0;

  code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
  }
}

body.is-preload {
  .hero {
    h1 {
      @include prefix('transform', 'scale(0.95)');
      opacity: 0;

      &:before,
      &:after {
        width: 0;
      }
    }

    .more {
      @include prefix('transform', 'translateY(8.5em)');
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }
  }
}

body.is-mobile {
  &.landing {
    #page-wrapper {
      background: none;
    }

    .hero,
    .wrapper.style4 {
      @include prefix('background-image', ('linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5))', 'url("../../images/banner.jpg")'));
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #footer {
      background-color: $grey-darker;
    }
  }
}