.hero {
  @include flex(center, center, column);
  cursor: default;
  height: 100vh;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  text-align: center;

  h1 {
    @include prefix('transform', 'scale(1)');
    @include prefix('transition', ('transform 0.5s ease', 'opacity 0.5s ease'));
    display: inline-block;
    font-size: 1.75em;
    opacity: 1;
    padding: 0.35em 1em;
    position: relative;
    z-index: 1;

    &:before,
    &:after {
      @include prefix('transition', 'width 0.85s ease');
      @include prefix('transition-delay', '0.25s');
      background: $white;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      width: 100%;
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      bottom: 0;
      right: 0;
    }
  }

  p {
    letter-spacing: _size(letter-spacing-alt);
    text-transform: uppercase;

    a {
      color: inherit;
    }
  }

  .more {
    @include prefix('transition', ('transform 0.75s ease', 'opacity 0.75s ease'));
    @include prefix('transition-delay', '3.5s');
    @include prefix('transform', 'translateY(0)');
    border: none;
    bottom: 0;
    color: inherit;
    font-size: 0.8em;
    height: 8.5em;
    left: 50%;
    letter-spacing: _size(letter-spacing-alt);
    margin-left: -8.5em;
    opacity: 1;
    outline: 0;
    padding-left: _size(letter-spacing-alt);
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 16em;
    z-index: 1;

    &:after {
      background-image: url('images/arrow.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 4em;
      content: '';
      display: block;
      height: 1.5em;
      left: 50%;
      margin: 0 0 0 -0.75em;
      position: absolute;
      width: 1.5em;
    }
  }

  &:after {
    @include prefix('pointer-events', 'none');
    @include prefix('transition', 'opacity #{_duration(fadein)} ease-in-out');
    @include prefix('transition-delay', '1.25s');
    content: '';
    background: $grey;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  @include media('<=phone') {
    @include padding(7em 3em);
    height: auto;
    min-height: 0;

    h2 {
      font-size: 1.25em;
    }

    br {
      display: none;
    }

    .more {
      display: none;
    }
  }
}