<picture>
    <source 
    type="image/webp" 
    srcset="
    /assets/images/default_200.webp 200w,
    /assets/images/default_417.webp 417w,
    /assets/images/default_582.webp 582w,
    /assets/images/default_736.webp 736w,
    /assets/images/default_867.webp 867w,
    /assets/images/default_1004.webp 1004w,
    /assets/images/default_1126.webp 1126w,
    /assets/images/default_1247.webp 1247w,
    /assets/images/default_1369.webp 1369w,
    /assets/images/default_1400.webp 1400w"
    sizes="(max-width: 1400px) 100vw, 1400px"
    >
    <source
    type="image/jpg" 
    srcset="
    /assets/images/default_200.jpg 200w,
    /assets/images/default_417.jpg 417w,
    /assets/images/default_582.jpg 582w,
    /assets/images/default_736.jpg 736w,
    /assets/images/default_867.jpg 867w,
    /assets/images/default_1004.jpg 1004w,
    /assets/images/default_1126.jpg 1126w,
    /assets/images/default_1247.jpg 1247w,
    /assets/images/default_1369.jpg 1369w,
    /assets/images/default_1400.jpg 1400w"
    sizes="(max-width: 1400px) 100vw, 1400px"
    >
    <img src="/assets/images/default_1400.jpg" alt="{{ site.name }}">
</picture>