{%- if page.path contains '_posts' -%}
  {%- assign hero_title = 'Useful links' -%}
{%- elsif page.url == site.baseurl -%}
  {%- assign hero_title = 'YewTree Hub' -%}
{%- else -%}
  {%- assign hero_title = 'page.title' -%}
{%- endif -%}

{% case page.path %}
  {% when '_posts' %}
    {%- assign hero_text = 'for when you need help, ideas and inspiration.' -%}
  {% when '_experiments' %}
    {%- assign hero_text = 'into the lab' -%}
  {% when '_components' %}
    {%- assign hero_text = 'let the code flow' -%}
  {% else %}
    {%- assign hero_text = 'because everybody needs a place to learn... and CODE!' -%}
{% endcase %}

{%- if page.url == site.baseurl -%}
  {%- assign modifier = 'main' -%}
{%- elsif condition -%}
  {%- assign modifier = 'blog' -%}
{%- else -%}
  {%- assign modifier = 'page' -%}
{%- endif -%}

<section class="hero hero--{{ modifier }}">
  <div class="hero__inner">
    <h1 class="hero__title">{{ hero_title | escape }}</h1>
    <p class="hero__lead text-center">{{ hero_text | escape }}</p>
  </div>
  <a href="#one" class="button button--hero scrolly" role="button">Learn More</a>
</section>
